// $main-text: #333;
$main-text: #e67700;
$main-text-active: #747474;
$back-color-iterator: #2c76bf;
$white-text: #fff9db;
$back-color-tags: #e62a00;
$back-color-tags-hover: #e05f42;
$border-radius-standart: 14px;
$back-G: #ffe8cc;
$back-G-header: #ffd8a8;
$back-G-quote: #fff4e6;
$back-G-btns: #ff922b;
$back-G-btns-active: #ffa94d;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 920px;
$breakpoint_md: 800px;
$breakpoint_sm: 575px;
